<body #body class="light-theme">
  <mat-drawer-container>
    <mat-drawer #drawer mode="side" [opened]="true">
      <mat-toolbar class="menu-toolbar">
      </mat-toolbar>
      <mat-nav-list role="list">
        <mat-list-item role="listitem" [routerLink]="'/linkOne'">
          Link 1
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list role="list">
        <mat-list-item role="listitem" [routerLink]="'/linkTwo'">
          Link2
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar class="main-toolbar" color="accent">
        <button mat-icon-button class="icon" aria-label="Menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Angular Template</span>
        <span class="app-bar-spacer"></span>
        <span>
          <button mat-icon-button class="icon" aria-label="Theme icon" (click)="toggleTheme()">
            <mat-icon>water_drop</mat-icon>
          </button>
        </span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</body>